.container {
padding: 10px;
margin-top: 10px;
background-color: #05a7ad;
border-radius: 20px;
border: 1px solid #000000;
}

.label {
display: flex;
align-items: center;
justify-content: space-evenly;
   font-size: 20px;
   font-weight: 500;
   /* color: rgb(255, 255, 255); */
}

/* .description {
   margin-right: 5px;
} */

.input {
    width: 60%;
    height: 30px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    border:none;
    outline-color: rgb(25, 121, 124);
}