.container {
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    width: 70%;
    background-color: rgba(251, 255, 245, 0.131);
    border-radius: 20px;
     box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px 5px;
     border: 1px solid rgba(52, 52, 52, 0.922);
    color: #ffffff;
}

.wrap {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.905);
}


.title {
    color: rgba(0, 0, 0, 0.833);;
}

.name {
     text-transform: uppercase;
}

.text{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}

.avatar{
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.content {
display: flex;
justify-content: center;
align-items: center;
color: #000000;

}

.label{
    margin-left: auto;
    font-weight: 700;
    color: #018287f9;
}